@import 'variables';

.about{
  @include elementFlex(column, flex-start, center);
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  &__backgroundImg{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 10vh;
    transform: translateX(50%);
  }
  &__title{
    font-size: 3.6rem;
    line-height: 5.4rem;
    font-weight: 600;
    color: $fontColor;
    position: relative;
    margin: 2.5rem 10%;
    width: 80%;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -2rem;
      width: 40%;
      height: 5px;
      border-radius: 99px;
      background: $mainColor;
    }
  }
  &__textWrapper{
    @include elementFlex(column, flex-start, center);
  }
  &__text{
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    padding: 4rem 10%;
  }
  &__img{
    width: 364.22px;
    height: 303px;
  }
  &__data,
  &__wrapper{
    @include elementFlex(column, flex-start, center);
    width: 100%;
  }
  &__data{
    margin: 1rem 0;
    &__title{
      color: $mainColor;
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__value{
      color: $fontColor;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
}

@media(min-width:1500px){
  .about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 5%;
    &__textWrapper{
      @include elementFlex(column, center, flex-start);
      @include selfPosition(start, end);
      grid-row: 1;
      grid-column: 1;
    }
    &__title{
      margin: 4rem 0 0 0;
      width: 90%;
      font-size: 4rem;
      &::after{
        width: 15%;
      }
    }
    &__text{
      padding: 4rem 0 0 0;
      font-size: 1.6rem;
    }
    &__img{
      @include selfPosition(center, center);
      grid-row: 1 / 3;
      grid-column: 2;
      width: 90%;
      height: auto;
    }
    .teamButton{
      justify-self: right;
      margin: 0;
      margin-left: auto;
      grid-row: 2;
      grid-column: 1;
    }
    &__wrapper{
      @include elementFlex(row, flex-start, center);
      grid-column: 1 / 3;
      grid-row: 3;
      margin-top: 7rem;
    }
  }
}