@import 'variables';

.button{
  font-size: 1.6rem;
  padding: 2rem 0;
  width: 160px;
  border: none;
  background: $mainColor;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
}

@media(min-width: 1500px){
  .button{
    padding: 1.3rem 0;
  }
}