@import 'variables';

.cooperation{
  @include elementFlex(column, flex-start, center);
  width: 100%;
  padding: 7rem 10%;
  min-height: 100vh;
  &__title{
    color: $fontColor;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 5.4rem;
    margin: 3rem 0;
    width: 100%;
    text-align: left;
  }
  &__text{
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
  }
  &__stepWrapper{
    counter-reset: steps;
    @include elementFlex(column, flex-start, center);
    margin: 3rem 0;
  }
  &__step{
    counter-increment: steps;
    width: 100%;
    padding: 0 0 0 5.5rem;
    margin: 2rem 0;
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    &::before{
      content: '0'counter(steps)'.';
      font-size: 3rem;
      position: absolute;
      left: 0;
      top: 0;
      font-weight: 700;
      color: $fontColor;
    }
  }
  &__illustration{
    width: 414px;
    height: 340.81px;
  }
}

@media(min-width: 1500px){
  .cooperation{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 10rem 5%;
    &__title{
      @include gridPosition(2, 1);
      margin: 0;
      font-size: 4rem;
    }
    &__text{
      @include gridPosition(2, 2);
      margin: 0;
      font-size: 1.4rem;
    }
    &__stepWrapper{
      @include gridPosition(2, 3);
      margin: 0;
    }
    .button{
      @include gridPosition(2, 4);
      justify-self: center;
    }
    &__illustration{
      grid-column: 1;
      grid-row: 1 / 5;
      width: 100%;
      height: auto;
    }
  }
}