@import 'variables';

.opinions{
  width: 100%;
  min-height: 100vh;
  .partners{
    width: 100%;
    margin-bottom: 10vh;
    &__title{
      font-size: 3rem;
      font-weight: 600;
      width: 100%;
      padding: 0 10%;
    }
    &__sliderBox{
      @include elementFlex(row, center, center);
      min-height: 20vh;
      background: #f0f0f0;
      margin-top: 3rem;
    }
  }
  &__title{
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 54px;
    width: 100%;
    padding: 0 10%;
  }
  &__subtitle{
    font-size: 1.8rem;
    line-height: 27px;
    font-weight: 500;
    width: 100%;
    padding: 0 10%;
  }
  &__wrapper{
    @include elementFlex(column, flex-start, center);
    width: 100%;
    min-height: 70vh;
    margin: 5rem 0;
  }
}