@import 'variables';

.portfolio{
  @include elementFlex(column, flex-start, center);
  width: 100%;
  min-height: 100vh;
  padding: 7rem 5%;
  background: none;
  &__container{
    display: none;
  }
  &__title{
    font-size: 3.6rem;
    line-height: 5.4rem;
    font-weight: 600;
    color: $fontColor;
    position: relative;
    margin: 0 0 5rem 0;
    width: 100%;
    span{
      color: $mainColor;
    }
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: -1.5rem;
      width: 40%;
      height: 5px;
      border-radius: 99px;
      background: $fontColor;
    }
  }
  &__wrapper{
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    padding: 0 3%;
    margin: 0 0 4rem 0;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 15px;
    column-gap: 1rem;
    max-height: 60vh;
  }
  &__item{
    width: 100%;
    height: 100%;
    background-color: $mainColor;
    border-radius: 10px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    &:nth-of-type(1){
      grid-column: 1 / 3;
      grid-row: 1;
    }
    &:nth-of-type(2){
      grid-column: 1;
      grid-row: 2 / 4;
    }
    &:nth-of-type(3){
      grid-column: 2;
      grid-row: 2 / 7;
    }
    &:nth-of-type(4){
      grid-column: 1;
      grid-row: 4 / 7;
    }
    &__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media(min-width: 1850px){
  .portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0 12% 7rem 12%;
    background-image: url(../images/portfolio-section-background-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100%;
    .button{
      display: none;
    }
    &__container{
      @include elementFlex(column, center, flex-start);
      grid-column: 1;
      grid-row: 1;
      margin-bottom: 5rem;
      .button{
        margin-left: auto;
        margin-right: auto;
        display: flex;
      }
    }
    &__discription{
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
    &__title{
      width: auto;
      &::after{
        width: 100px;
        top: 50%;
        left: initial;
        right: 0;
        transform: translateY(-50%) translateX(110%);
      }
    }
    &__wrapper{
      padding: 0 3rem;
      margin: 0;
    }  
    .mobile{
      display: none;
    }
  }
}