@import 'variables';

.start{
  @include elementFlex(column, flex-start, center);
  width: 100%;
  padding: 0 10%;
  margin-top: 140px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  &__backgroundImage{
    position: absolute;
    top: -20px;
    left: 2px;
    z-index: -1;
  }
  &__title{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 4rem;
  }
  &__subtitle{
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 500;
  }
  &__ilustracja{
    width: 381.51px;
    height: 253.31px;
  }
  &__buttonWrapper{
    @include elementFlex(column, space-around, center);
    width: 100%;
    height: 200px;
  }
}

@media(min-width: 1500px){
  .start{
    @include elementFlex(column, center, flex-start);
    margin: 0;
    padding: 0 5%;
    &__buttonWrapper{
      @include elementFlex(row, space-around, center);
      width: auto;
      height: auto;
      button{
        margin-right: 2rem;
      }
    }
    &__ilustracja{
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      width: 55%;
      height: auto;
    }
  }
}